
@{
    var userID = ViewBag.userID;
    var userName = ViewBag.userName;
}

@model List<BAL.Models.CommentViewModel>



@foreach (var comment in Model)
{
<div class="CommentPartial-@comment.Post_id">
    <div class="d-flex flex-row align-items-center my-3 position-relative">
        <img src="https://mdbootstrap.com/images/avatars/img%20(4).jpg" alt="" class="img-circle mx-2 img-fluid post-Userimg">
        <div class="d-flex flex-column">
            <div>
                <span class="me-2 mb-0" onclick="openUser(@comment.User_id)">@comment.UserName</span>

                @{
                    var targetDate = @comment.Created_At;
                    TimeSpan timeDifference = DateTime.Now - targetDate;
                    var date = TimeSpan.FromMinutes(1);
                }
                @if (timeDifference < date)
                {
                    <span class="mb-0">Just Now</span>
                }
                else if (timeDifference < TimeSpan.FromHours(1))
                {
                    int minutes = (int)timeDifference.TotalMinutes;

                    <span class="mb-0">@minutes m ago</span>
                }
                else if (timeDifference < TimeSpan.FromDays(1))
                {
                    int hours = (int)timeDifference.TotalHours;
                    <span class="mb-0">@hours hr ago</span>
                }
                else if (timeDifference < TimeSpan.FromDays(7))
                {
                    int days = (int)timeDifference.TotalDays;
                    <span class="mb-0">@days d ago</span>
                }
                else
                {
                    int weeks = (int)(timeDifference.TotalDays / 7);
                    <span class="mb-0">@weeks w ago</span>
                }
            </div>
            <p class="m-0">@comment.Comment_Text</p>
            <span class=" replybtn" onclick="showReplyInput('@comment.UserName',@comment.Id)">Reply <i class="bi bi-arrow-return-left mt-1"></i></span>

        </div>

        @if (userID == comment.User_id)
        {
            <button onclick="deleteComment(@comment.Id,@comment.Post_id)" class="trash" id="deleteComment"></button>
        }
    </div>
    <div class="commentBox mt-2 ReplyBox-@comment.Id " style="display:none;margin-left:2.5rem ; width:90%">
        <input placeholder="Reply to " class="comment-box" id="commentReply-@comment.Id" style="border-color: #6c757d !important" />

        <button class="submit-button btn replybtn" id="postCommentReply-@comment.Post_id"
                onclick="saveCommentReply(@comment.Id,@comment.Post_id)">
            Post
        </button>
    </div>
    <div class="Reply-@comment.Id ms-5" >

    </div>
    @if (comment.totalreply > 0)
    {
<span class="text-center replybtn" onclick="ShowReply(@comment.Id)" id="viewreply-@comment.Id"> View @comment.totalreply Reply</span>
    }

</div>

        }
   