@{
    Page.Title = "Profile";
    //Layout = "Your Layout Page goes here";
}
@model BAL.Models.ProfileViewModel
<div>

    <div class="main-container">
        <div class="row m-b-r m-t-3 profile">
            <div class="col-md-2 offset-md-1">
                <img src="https://mdbootstrap.com/images/avatars/img%20(4).jpg" alt="" class="img-circle img-fluid">
            </div>
            <div class="col-md-9 ">
                <h2 class="h2-responsive">@Model.UserDetail.FirstName @Model.UserDetail.LastName</h2>
                <p>@Model.UserDetail.Address</p>

                <ul class="flex-menu">
                    <li><strong>
    @{
        var post = Model.Posts?.Count;
        
                    }@post
                </strong> posts</li>

                    <li>
                        @{
                            var Friend = Model.Friends?.FirstOrDefault();
                            var totalFriends = Friend != null ? Friend.TotalMutual : 0;
                        }
                        <strong> @totalFriends</strong> Freinds
                    </li>
                </ul>

                <button type="button" class="btn btn-info-outline waves-effect addButton ms-2" data-toggle="modal" data-target="#post">Create a Post</button>

                <!-- Modal -->
                <div class="modal fade" id="post" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="userHeading fs-4"><i class="bi bi-pencil"></i>  Create a Post</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModel2()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-2 ">
                                        <img src="https://mdbootstrap.com/images/avatars/img%20(4).jpg" alt="" class="img-circle img-fluid post-Userimg">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h5 class="mb-0">janedoe </h5>
                                        <p>Post To Everyone</p>
                                    </div>
                                </div>
                                <div class="row postform">
                                    <form enctype="multipart/form-data" id="postForm">
                                        <div class="row">


                                            @Html.TextAreaFor(model => model.Post.Body, new { @id = "textarea", @placeholder = "Write Your Content...."  })
                                            @Html.ValidationMessageFor(model => model.Post.Body, "", new { @class = "text-danger" })
                                            @*<textarea placeholder="Write Your Content...." id="textarea"></textarea>*@
                                        </div>
                                        <div class="row">
                                            <div id="preview">
                                                <img src="" class="img-fluid" id="imageUrl">
                                                <i class="bi bi-x-lg" id="cross" onclick="remove()"></i>
                                            </div>

                                        </div>
                                        <div class="row mt-2">
                                            <div class="col">
                                                <i class="bi bi-camera" onclick="ClickInput()" id="camera"></i>
                                                @*<input type="file" id="fileinput" onchange="previewImage(this)" />*@
                                                @Html.TextBoxFor(model => model.Post.ImagePath, new { @class = "path" ,@type = "file", @onchange = "previewImage(this)", @id = "fileinput"  })
                                                <span class="img-text">Upload a image</span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModel2()">Close</button>
                                            <button type="button" class="addButton" onclick="createPost()">Post</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-4  justify-content-between m-0">
            <div class="col-12  ">
                <h2 class="userHeading fs-5 p-2">Suggestions</h2>
                <div class="row  suggest">
                    @foreach (var friend in Model.Suggestions)
                    {
                        <div class="col-2 users">

                            <img src="https://mdbootstrap.com/images/avatars/img%20(9).jpg" alt="" class="img-circle img-fluid">
                            <h2 class="fs-5">@Html.ActionLink(@friend.SuggestedName, "FriendProfile", new { friendId = friend.Id }, new { @class = "link" })</h2>
                            <button type="button" class="btn btn-info-outline waves-effect addButton">Follow</button>
                            <input type="hidden" id="suggestedID" value="@friend.Id" />
                        </div>
                    }

                </div>
            </div>
            <div class="col-12   py-4">
                <h2 class="userHeading fs-5 p-2">
                     
                    @totalFriends Friends
                </h2>
                <div class="row  suggest">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="col-2 users">

                            <img src="https://mdbootstrap.com/images/avatars/img%20(9).jpg" alt="" class="img-circle img-fluid">
                            <h2 class="fs-5">@Html.ActionLink(@friend.MutualFriendName, "FriendProfile", new { friendId = friend.Id }, new { @class = "link" })</h2>
                           
                            <input type="hidden" id="suggestedID" value="@friend.Id" />
                        </div>
                    }

                </div>
            </div>
            <div class="col-12  py-4  " id="userPosts">
                @Html.Partial("_UserPosts")
            </div>
        </div>


    </div>

</div>