@{
    Page.Title = "Profile";
    //Layout = "Your Layout Page goes here";
}
@model BAL.Models.ProfileViewModel
<div>

    <div class="main-container">
        <div class="row m-b-r m-t-3 profile">
            <div class="col-md-2 offset-md-1">
                <img src="https://mdbootstrap.com/images/avatars/img%20(4).jpg" alt="" class="img-circle img-fluid">
            </div>
            <div class="col-md-9 ">
                <h2 class="h2-responsive">@Model.UserDetail.FirstName @Model.UserDetail.LastName</h2>
                <p>@Model.UserDetail.Address</p>

                <ul class="flex-menu">
                    <li>
                        <strong>
                            @{
                                var post = Model.Posts?.Count;

                            }@post
                        </strong> posts
                    </li>

                    <li>
                        @{
                            var Friend = Model.Friends?.FirstOrDefault();
                            var totalFriends = Friend != null ? Friend.TotalMutual : 0;
                        }
                        <strong> @totalFriends</strong> Freinds
                    </li>
                </ul>

                <button type="button" class="btn btn-info-outline waves-effect addButton ms-2" data-toggle="modal" data-target="#postmodel">Create a Post</button>

                <!-- Modal -->

            </div>
        </div>

        <div class="row p-4  justify-content-between m-0">
            <div class="col-12  ">
                <h2 class="userHeading fs-5 p-2">Suggestions</h2>
                <div class="row  suggest">
                    @foreach (var friend in Model.Suggestions)
                    {
                        <div class="col-2 users">

                            <img src="https://mdbootstrap.com/images/avatars/img%20(9).jpg" alt="" class="img-circle img-fluid">
                            <h2 class="fs-5">@Html.ActionLink(@friend.SuggestedName, "FriendProfile", new { friendId = friend.Id }, new { @class = "link" })</h2>
                            <button type="button" class="btn btn-info-outline waves-effect addButton" onclick="followRequest(@friend.Id)" id="follow-@friend.Id">Follow</button>
                            <input type="hidden" id="suggestedID" value="@friend.Id" />
                        </div>
                    }

                </div>
            </div>
            <div class="col-12   py-4">
                <h2 class="userHeading fs-5 p-2">

                    @totalFriends Friends
                </h2>
                <div class="row  suggest">
                    @foreach (var friend in Model.Friends)
                    {
                        <div class="col-2 users">

                            <img src="https://mdbootstrap.com/images/avatars/img%20(9).jpg" alt="" class="img-circle img-fluid">
                            <h2 class="fs-5">@Html.ActionLink(@friend.MutualFriendName, "FriendProfile", new { friendId = friend.Id }, new { @class = "link" })</h2>

                            <input type="hidden" id="suggestedID" value="@friend.Id" />
                        </div>
                    }

                </div>
            </div>
            <div class="col-12  py-4  " id="userPosts">
                <div class="row p-4 post">
                    <h2 class="userHeading fs-5 p-2">
                        Posts
                    </h2>
                    @foreach (var posts in Model.Posts)
                    {

                        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">

                            <div class="view overlay hm-black-light m-b-2 position-relative" id="post-@posts.ID">
                                @foreach (var path in posts.MediaPaths.Take(1))
                                {
                                    <img src="~/Content/PostImages/@path" class="img-fluid post-img" alt="" />
                                }

                                <div class="Content">
                                    <p class="mb-1 fs-4">@posts.Body</p>
                                    <div class="Like">
                                        <i class="bi bi-heart me-1"></i> @posts.TotalLikes
                                        <i class="bi bi-chat-left-quote ms-2 me-1"></i> @posts.TotalComments
                                    </div>
                                </div>
                                <button onclick="deletePost(@posts.ID)" class="trash" id="deletepost"></button>
                                <button onclick="editPost(@posts.ID)" class="" id="editPost"> <i class="bi bi-pen-fill"></i></button>
                            </div>

                        </div>

                    }



                </div>
            </div>
        </div>


    </div>

</div>
@Html.Partial("_UserPosts")